.App {
  text-align: center;
  height: 100%;
  width: 100vw;
  display: grid;
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}


.grid { 
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  }
.grid > article {
  background: #C6FFDD;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > article img {
  max-width: 100%;
}
/* Card Style */
 article ol{
  list-style: none;
}
article h1{
  font-size: 30px;
  font-style: italic;
}
